.aboutMe-container {
  display: flex;
  justify-content: center;
  gap: 90px;
}
.pic-container img {
  width: 400px;
  border-radius: 20px;
}

#about {
  justify-content: center;
  align-items: center;
  display: block;
  margin-top: 70px;
  margin: auto;
  width: 80%;
}
#about h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  font-size: 60px;
}
.text-container {
  padding-top: 30px;
}
.icon {
  font-size: 40px;
}

.detail-container h4 {
  margin-top: 10px;
}
.detail-container h3 {
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .aboutMe-container {
    display: grid;
  }
  #about h1 {
    font-size: 30px;
  }
}
